html {
    height: 100%;
    width: 100%;
  }
  
  .card {
    background: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .card-title {
    font-size: 1.25rem;
    color: #38a169;
    margin-bottom: 10px;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7fafc;
    color: #2d3748;
  }
  .form-input, .form-select, .form-checkbox {
    border: 2px solid #cbd5e0;
    padding: 10px;
    width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 10px;
  }
  .form-checkbox {
    width: auto;
  }
  .button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #48bb78;
    color: white;
    padding: 10px 20px;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
  }
  
  .button-primary:hover {
    background-color: #38a169;
  }
  
  .button-primary span {
    margin-left: 5px;
  }
  
  /* Add this style to ensure the button is visible by default */
  .button-primary:focus {
    outline: none; /* Remove the default focus outline */
    background-color: #38a169; /* Set the background color for focus state */
  }
  
  
  .form-section {
    margin-bottom: 20px;
  }
  .checkbox-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  .footer {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #4a5568;
  
    .form-input:invalid,
    .form-select:invalid {
      border: 2px solid red;
    }
  }